/* styles for the header */
header{
    border: 3px solid black;
    background-image:url(images/backgroundBeans.jpg);
    
}


header h1{
    color: white;
    font-size: 2.5em;
    border: 2px solid white;
    background: black;
    width: 6.5em;
    padding: .25em .75em;
    margin-left: 15.1em;    
}

/* Technical part of Nav Menu */
#nav_menu ul {
	list-style: none;
	position: relative;    /* So the first submenu can be positioned within the main menu */
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul {
	display: none;         /* Don't display submenu until hover of the li element */
	position: absolute;
	top: 100%;             /* Position the submenu at the bottom of the main menu */
}
#nav_menu ul ul li {
	float: none;           /* Display the submenus vertically */
}
#nav_menu ul li:hover > ul {
	display: block;        /* Display the submenu on hover of the li element */
}
#nav_menu > ul::after {
	content: "";
	display: block;
	clear: both;
}
/* styles for Nav Menu*/
#nav_menu ul {
	list-style: none;
	position: relative;    /* So the first submenu can be positioned within the main menu */
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul {
	display: none;         /* Don't display submenu until hover of the li element */
	position: absolute;
	top: 100%;             /* Position the submenu at the bottom of the main menu */
}
#nav_menu ul ul li {
	float: none;           /* Display the submenus vertically */
}
#nav_menu ul li:hover > ul {
	display: block;        /* Display the submenu on hover of the li element */
}
#nav_menu > ul::after {
	content: "";
	display: block;
	clear: both;
}
#nav_menu ul {
	margin-left:0;
	padding: 0;
    
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	width: 301.2px;
	padding: 1em 0;
    margin-top: -1em;
	text-decoration: none;
	background-color: #8f4723;
	color: black;
	font-weight:bolder;
    border: 3px solid;
    border-top-style:hidden;
}
    
/* styles for the body */
body {
    width:100%;
     

}
p{
    font-family: "Patrick Hand", serif;
}
#sidebarA {
    width: 25%;
    border:2px solid black;
    float: left;
    height: 480px;
    margin: 0 1em;
}
#sidebarA ul{
    font-family:"Patrick Hand", serif;
    font-size: 1.5em;
    margin-top: -1.5em;    
}
#sidebarA p{
    font-size: 2.2em;
    margin-left: 1em;
    margin-top: 1.5em;
    text-decoration: underline;    
}
#sidebarA img{
    height:100px;
    margin-left: 3.9em;
}

main {
    width:50%;
    height: 480px;    
    float: left; 
    border: 2px solid black;
}
main img{
    border: 3px solid black;
    margin-left: 2em;
    margin-top: 3em;
}
main p{
    font-size: 1.9em;
    float: right;
    width: 430px;    
    margin-right: .5em;
    margin-top: 2em;
}
#sibebarB{
    width: 25%;
    height: 400px;
    float: right;
}
#sidebarB img{
    height: 200px;
    border: 2px solid black; 
    margin-left: 1em;    
}

h2, h3 {
    font-family:"Patrick Hand", serif;
    font-size: 2.5em;
    margin-top: -.15em;
}
h2{
    margin-left: 3.8em;
}
h3{
    margin-left: 3.5em;
}
footer p{
    border: 2px solid white;
    background-color: black;
    color: white;
    width: 15em;
    margin-left: 40em;
}
footer{clear: both;
    border: 2px solid black;
    background-image: url(images/backgroundBeans.jpg);
    margin-top: 4.8em;
}

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
        
