/* styles for the header */
header{
    border: 3px solid black;
    background-image:url(../images/backgroundBeans.jpg);
}
header h1{
    color: white;
    font-size: 2.5em;
    border: 2px solid white;
    background: black;
    width: 6.5em;
    padding: .25em .75em;
    margin-left: 15.1em;    
}

/* Technical part of Nav Menu */
#nav_menu ul {
	list-style: none;
	position: relative;    /* So the first submenu can be positioned within the main menu */
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul {
	display: none;         /* Don't display submenu until hover of the li element */
	position: absolute;
	top: 100%;             /* Position the submenu at the bottom of the main menu */
}
#nav_menu ul ul li {
	float: none;           /* Display the submenus vertically */
}
#nav_menu ul li:hover > ul {
	display: block;        /* Display the submenu on hover of the li element */
}
#nav_menu > ul::after {
	content: "";
	display: block;
	clear: both;
}
/* styles for Nav Menu*/
#nav_menu ul {
	list-style: none;
	position: relative;    /* So the first submenu can be positioned within the main menu */
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul {
	display: none;         /* Don't display submenu until hover of the li element */
	position: absolute;
	top: 100%;             /* Position the submenu at the bottom of the main menu */
}
#nav_menu ul ul li {
	float: none;           /* Display the submenus vertically */
}
#nav_menu ul li:hover > ul {
	display: block;        /* Display the submenu on hover of the li element */
}
#nav_menu > ul::after {
	content: "";
	display: block;
	clear: both;
}
#nav_menu ul {
	margin-left:0;
	padding: 0;
    
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	width: 297.84px;
	padding: 1em 0;
    margin-top: -1em;
	text-decoration: none;
	background-color: #8f4723;
	color: black;
	font-weight:bolder;
    border: 3px solid;
    border-top-style:hidden;
}
main{
    clear: both;
}
main img{
    height: 150px;
}
section{
    float: left;
    width: 50%;
}
aside{
    float: right;
    width: 50%;
}
section img{
    margin-left: 21em;
    height: 250px;
    border: 3px solid black;
}
aside img{
    height: 250px;
    margin-left: 13em;
    border: 3px solid black;
}
h2,h3{
    font-family:"Patrick Hand", serif;
}
h2{
    margin-left: 5.5em;    
    font-size: 3em;
    text-decoration: underline;
}
h3{
    font-size: 2em;
}
section h3{
    margin-left: 10em;
    margin-top: -.2em;
    margin-bottom: 2em
}
aside h3{
    margin-left: 6em;
    margin-top: -.2em
}
footer{
    clear: both;
    border: 2px solid black;
    background-image: url(../images/backgroundBeans.jpg);
    margin-top: 4.8em;
}
footer p{
    font-family: "Patrick Hand", serif;
    border: 2px solid white;
    background-color: black;
    color: white;
    width: 15em;
    margin-left: 38em;
}